<html>
<body>
<div>
    <p style="color: #000; white-space: pre-line;">
        회원 가입을 위한 인증번호 입니다.
        아래의 인증번호를 입력하여 인증을 완료해주세요.
    </p>
    <div>
        <code>
            <%= authCode %>
        </code>
    </div>
</div>
</body>
</html>
